


.table_frame {
    padding-left: 10%;
    width: 500px;
    height: 500px;
    text-align: center;
    position: relative;
    bottom: -55px;
    display: block;
}

#table_layout {
    width: 90%;
    border-spacing: 0px;
}

#table_layout>thead>tr>th {
    width: 500px;
    padding: 40px;
    text-overflow: nowrap;
    padding: 24px;
    color: blue;
    border-bottom: 1px solid grey;
    font-size: 15px;
}

#table_layout>tbody>tr>td {
    width: 200px;
    padding: 35px;
    color: black;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: white;
}